body {
	font-family: Arial, sans-serif;
	text-align: center;
}

h1 {
	color: #5e5757;
}

.loader {
	display: none;
	border: 8px solid #f3f3f3;
	border-top: 8px solid #83bde4;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin: 20px auto;
	animation: spin 2s linear infinite;
}

.error {
	display: none;
	color: #ff0000;
	font-weight: bold;
}

.breed-select {
	width: 200px;
	padding: 5px;
	margin: 20px auto;
}

.cat-info {
	display: none;
	margin-top: 20px;
}

.cat__wrapper {
	text-align: center;
}
.cat__wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
		gap: 20px;

}
.breed-name:hover {
	text-decoration: underline;
}

.breed-name{
		color: #5e5757;
}	
img {
	max-width: 50%;
}

